## Import

In [126]:
from jwt_app import decode_payload,encode_payload
import sql_util
import mysql.connector
import datetime
import pandas as pd
import time
import traceback
import numpy as np

## method

In [9]:
def convertToBinaryData(filename):
    # Convert digital data to binary format
    with open(filename, 'rb') as file:
        binaryData = file.read()
    return binaryData

def convert_date(date_string):
    return datetime.datetime.strptime(date_string, '%d/%m/%Y').date()

## Connect database

In [104]:
method = ['select','update','insert','delete','insert_transection']
token = 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJob3N0IjoibG9jYWxob3N0IiwidXNlciI6InJvb3QiLCJwYXNzd29yZCI6InBsYXlESVNLQDIwMjAifQ.AzZ1NFkNJdm9iD9tvkaL2xvENo7WpNqpMSyJNMfLPmg'

conn = mysql.connector.connect(
  **decode_payload(token)
)

def excute_query(sql,param) :
    cursor = conn.cursor()
    cursor.execute(sql,param)
    cursor.close()

In [24]:
decode_payload(token)

{'host': 'localhost', 'user': 'root', 'password': 'playDISK@2020'}

# Process Main

## Dataset

In [68]:
# EMPLOYEE , TRAINEE , SECURITY_GUARD ,  , PRODUCT
# SALEMAN , VAN , MAINTAINANCE_DATE
# CUSTOMER
# STOCK_WAREHOUSE , STOCK_OUT , PURCHASE_ORDER , PURCHASE_ORDER_DETAIL , GENERATE

EMPLOYEE = pd.read_excel('Raw_data.xlsx',sheet_name='EMPLOYEE')
TRAINEE = pd.read_excel('Raw_data.xlsx',sheet_name='TRAINEE')
SECURITY_GUARD = pd.read_excel('Raw_data.xlsx',sheet_name='SECURITY_GUARD')
SECURITY_GUARD['SHIFT'] = SECURITY_GUARD['SHIFT'].astype(float)

PRODUCT = pd.read_excel('Raw_data.xlsx',sheet_name='PRODUCT')

SALEMAN = pd.read_excel('Raw_data.xlsx',sheet_name='SALEMAN')
SALEMAN = SALEMAN.fillna(-1)
SALEMAN = SALEMAN.sort_values(['Supervision'],ascending = True)

VAN = pd.read_excel('Raw_data.xlsx',sheet_name='VAN')
MAINTAINANCE_DATE = pd.read_excel('Raw_data.xlsx',sheet_name='MAINTAINANCE_DATE')

## Instance Variable

In [93]:
Position = []
PATH_EMP_PIC = 'image/employee/'
PATH_PROD_PIC = 'image/product/'

## insert employee

In [51]:
def add_trainee(EmpID):
    sql = sql_util.extract_query(method[2],'addSalaryEmp')
    excute_query(sql,[EmpID])

    sql = sql_util.extract_query(method[2],'addTrainee')
    temp = TRAINEE[TRAINEE['EmpID'] == EmpID]
    param = list(temp.values[0])
    excute_query(sql,param)
    
def add_security(EmpID):
    sql = sql_util.extract_query(method[2],'addSalaryEmp')
    excute_query(sql,[EmpID])
    
    sql = sql_util.extract_query(method[2],'addSecurityGuard')
    temp = SECURITY_GUARD[SECURITY_GUARD['EmpID'] == EmpID]
    param = list(temp.values[0])
    excute_query(sql,param)
    
def add_saleman(EmpID):
    sql = sql_util.extract_query(method[2],'addIncentiveEmp')
    excute_query(sql,[EmpID])

    sql = sql_util.extract_query(method[2],'addSaleman')
    temp = SALEMAN[SALEMAN['EmpID'] == EmpID]
    param = list(temp.values[0])
    param[-1] = None if param[-1] == -1 else int(param[-1])
    param[2] = param[2].date()
    excute_query(sql,param)

    sql = sql_util.extract_query(method[2],'addVan')
    temp = VAN[VAN['SalemanID'] == EmpID]
    param = list(temp.values[0])
    param[1] = param[1].date()
    param[2] = param[2].date()
    excute_query(sql,param)

    sql = sql_util.extract_query(method[2],'addMaintainanceDate')
    temp = MAINTAINANCE_DATE[MAINTAINANCE_DATE['PlateNo'] == param[0]]
    param = list(temp.values[0])
    param[1] = param[1].date()
    excute_query(sql,param)
    
def add_manager(EmpID):
    param = [EmpID]
    sql = sql_util.extract_query(method[2],'addSalaryEmp')
    excute_query(sql,param)
    sql = sql_util.extract_query(method[2],'addIncentiveEmp')
    excute_query(sql,param)
    sql = sql_util.extract_query(method[2],'addManager')
    excute_query(sql,param)

def add_other(EmpID,position):
    param = [EmpID] 
    sql = sql_util.extract_query(method[2],'addSalaryEmp')
    excute_query(sql,param)
    if position == 'ADMIN' :
        sql = sql_util.extract_query(method[2],'addAdmin')
    elif position == 'WAREHOUSE' :
        sql = sql_util.extract_query(method[2],'addWarehouseWorker')
    excute_query(sql,param)


def new_employyee():
    sql = sql_util.extract_query(method[2],'addEmployee')
    for i,row in EMPLOYEE.iterrows():
        EmpID = row['EmpID']
        print('EmpID : '+ str(EmpID))
        param = list(row.iloc[0:-1].copy())
        param[4] = param[4].date()
        param[5] = param[5].date()
        param.insert(2,convertToBinaryData(PATH_EMP_PIC+str(param[0])+'.jpg'))
        sql = sql_util.extract_query(method[2],'addEmployee')
        excute_query(sql,param)
        time.sleep(2) 
        if row.iloc[-1].upper() == 'TRAINEE' :
            add_trainee(EmpID)
        elif row.iloc[-1].upper() == 'SECURITY' :
            add_security(EmpID)
        elif row.iloc[-1].upper() == 'MANAGER' :
            add_manager(EmpID)
        elif row.iloc[-1].upper() in ['WAREHOUSE','ADMIN'] :
            add_other(EmpID,row.iloc[-1].upper())
        
def manage_saleman():
    for i,row in SALEMAN.iterrows():
        EmpID = row['EmpID']
        print('manage_saleman : '+str(EmpID))
        add_saleman(EmpID)

In [50]:
try :
    conn = mysql.connector.connect(
      **decode_payload(token)
    )
    new_employyee()
    manage_saleman()
    conn.commit()
except Exception:
    traceback.print_exc()
    conn.rollback()
    conn.close()

EmpID : 1011
EmpID : 1021
EmpID : 1022
EmpID : 1023
EmpID : 1024
EmpID : 1025
EmpID : 1026
EmpID : 1027
EmpID : 1028
EmpID : 1029
EmpID : 1020
EmpID : 1002
EmpID : 1003
EmpID : 1201
EmpID : 1202
EmpID : 1301
EmpID : 1303
EmpID : 2001
EmpID : 2002

## insert customer

In [85]:
def add_customer(): 
    sql = sql_util.extract_query(method[2],'addCus')
    for i,row in CUSTOMER.iterrows():
        param = list(row.copy())
        excute_query(sql,param)

In [86]:
try :
    conn = mysql.connector.connect(
      **decode_payload(token)
    )
    add_customer()
    conn.commit()
except Exception:
    traceback.print_exc()
    conn.rollback()
    conn.close()

## insert Product

In [96]:
def add_product(): 
    sql = sql_util.extract_query(method[2],'addProduct')
    for i,row in PRODUCT.iterrows():
        param = list(row.copy())
        param.insert(1,convertToBinaryData(PATH_PROD_PIC+str(param[0])+'.jpg'))
        excute_query(sql,param)

In [97]:
try :
    conn = mysql.connector.connect(
      **decode_payload(token)
    )
    add_product()
    conn.commit()
except Exception:
    traceback.print_exc()
    conn.rollback()
    conn.close()

# Process Transection

## Dataset

In [184]:
PURCHASE_ORDER = pd.read_excel('Raw_data.xlsx',sheet_name='PURCHASE_ORDER')
PURCHASE_ORDER_DETAIL = pd.read_excel('Raw_data.xlsx',sheet_name='PURCHASE_ORDER_DETAIL')
STOCK_WAREHOUSE = pd.read_excel('Raw_data.xlsx',sheet_name='STOCK_WAREHOUSE')
STOCK_OUT = pd.read_excel('Raw_data.xlsx',sheet_name='STOCK_OUT')
GENERATE = pd.read_excel('Raw_data.xlsx',sheet_name='GENERATE')

## Gen Order

In [185]:
def add_purschese_order(): 
    sql = sql_util.extract_query(method[4],'addPurchaseOrder')
    for i,row in PURCHASE_ORDER.iterrows():
        param = list(row.copy())
        param[1] = param[1].date()
        excute_query(sql,param)

def add_purschese_order_detail(): 
    sql = sql_util.extract_query(method[4],'addPurchaseOrderDetail')
    for i,row in PURCHASE_ORDER_DETAIL.iterrows():
        param = list(row.copy())
        excute_query(sql,param)

def add_stock_warehouse(): 
    sql = sql_util.extract_query(method[4],'addStockWarehouse')
    for i,row in STOCK_WAREHOUSE.iterrows():
        param = list(row.copy())
        param[1] = param[1].date()
        excute_query(sql,param)

def add_stock_out(): 
    sql = sql_util.extract_query(method[4],'addStockOut')
    for i,row in STOCK_OUT.iterrows():
        param = list(row.copy())
        param[1] = param[1].date()
        excute_query(sql,param)

def add_generate(): 
    sql = sql_util.extract_query(method[4],'addGenerate')
    for i,row in GENERATE.iterrows():
        param = list(row.copy())
        excute_query(sql,param)

In [186]:
try :
    conn = mysql.connector.connect(
      **decode_payload(token)
    )
    add_purschese_order()
    add_purschese_order_detail()
    add_stock_out()
    add_stock_warehouse()
    add_generate()
    conn.commit()
except Exception:
    traceback.print_exc()
    conn.rollback()
    conn.close()