## Import

In [178]:
from jwt_app import decode_payload,encode_payload
import sql_util
import mysql.connector
import datetime
import pandas as pd
import time
import traceback

## method

In [179]:
def convertToBinaryData(filename):
    # Convert digital data to binary format
    with open(filename, 'rb') as file:
        binaryData = file.read()
    return binaryData

def convert_date(date_string):
    return datetime.datetime.strptime(date_string, '%d/%m/%Y').date()

## Connect database

In [180]:
method = ['select','update','insert','delete']
token = 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJob3N0IjoibG9jYWxob3N0IiwidXNlciI6InJvb3QiLCJwYXNzd29yZCI6InBsYXlESVNLQDIwMjAifQ.AzZ1NFkNJdm9iD9tvkaL2xvENo7WpNqpMSyJNMfLPmg'

conn = mysql.connector.connect(
  **decode_payload(token)
)

## Dataset

In [181]:
# EMPLOYEE , TRAINEE , SECURITY_GUARD ,  , PRODUCT
# SALEMAN , VAN , MAINTAINANCE_DATE
# CUSTOMER
# STOCK_WAREHOUSE , STOCK_OUT , PURCHASE_ORDER , PURCHASE_ORDER_DETAIL , GENERATE

EMPLOYEE = pd.read_excel('Raw_data.xlsx',sheet_name='EMPLOYEE')
TRAINEE = pd.read_excel('Raw_data.xlsx',sheet_name='TRAINEE')
SECURITY_GUARD = pd.read_excel('Raw_data.xlsx',sheet_name='SECURITY_GUARD')
SECURITY_GUARD['SHIFT'] = SECURITY_GUARD['SHIFT'].astype(float)

PRODUCT = pd.read_excel('Raw_data.xlsx',sheet_name='PRODUCT')
SALEMAN = pd.read_excel('Raw_data.xlsx',sheet_name='SALEMAN')
VAN = pd.read_excel('Raw_data.xlsx',sheet_name='VAN')
MAINTAINANCE_DATE = pd.read_excel('Raw_data.xlsx',sheet_name='MAINTAINANCE_DATE')
CUSTOMER = pd.read_excel('Raw_data.xlsx',sheet_name='CUSTOMER')
STOCK_WAREHOUSE = pd.read_excel('Raw_data.xlsx',sheet_name='STOCK_WAREHOUSE')
STOCK_OUT = pd.read_excel('Raw_data.xlsx',sheet_name='STOCK_OUT')
PURCHASE_ORDER = pd.read_excel('Raw_data.xlsx',sheet_name='PURCHASE_ORDER')
PURCHASE_ORDER_DETAIL = pd.read_excel('Raw_data.xlsx',sheet_name='PURCHASE_ORDER_DETAIL')
GENERATE = pd.read_excel('Raw_data.xlsx',sheet_name='GENERATE')

In [182]:

TRAINEE

   EmpID ForPosition  ProbationDuration
0   2001       Admin                 90
1   2002     Saleman                 30

## Instance Variable

In [183]:
Position = []
PATH_PIC = 'image/employee/'

## insert method

In [184]:
def add_trainee(EmpID):
    sql = sql_util.extract_query(method[2],'addSalaryEmp')
    excute_query(sql,[EmpID])

    sql = sql_util.extract_query(method[2],'addTrainee')
    temp = TRAINEE[TRAINEE['EmpID'] == EmpID]
    param = list(temp.values[0])
    excute_query(sql,param)
    
def add_security(EmpID):
    sql = sql_util.extract_query(method[2],'addSalaryEmp')
    excute_query(sql,[EmpID])
    
    sql = sql_util.extract_query(method[2],'addSecurityGuard')
    temp = SECURITY_GUARD[SECURITY_GUARD['EmpID'] == EmpID]
    param = list(temp.values[0])
    excute_query(sql,param)
    
def add_saleman(EmpID):
    sql = sql_util.extract_query(method[2],'addIncentiveEmp')
    excute_query(sql,[EmpID])

    sql = sql_util.extract_query(method[2],'addSaleman')
    temp = SALEMAN[SALEMAN['EmpID'] == EmpID]
    param = list(temp.values[0])
    excute_query(sql,param)

    sql = sql_util.extract_query(method[2],'addVan')
    temp = VAN[VAN['SalemanID'] == EmpID]
    param = list(temp.values[0])
    param[1] = param[1].date()
    param[2] = param[2].date()
    excute_query(sql,param)

    sql = sql_util.extract_query(method[2],'addMaintainanceDate')
    temp = MAINTAINANCE_DATE[MAINTAINANCE_DATE['PlateNo'] == param[0]]
    param = list(temp.values[0])
    param[1] = param[1].date()
    excute_query(sql,param)
    
def add_manager(EmpID):
    param = [EmpID]
    sql = sql_util.extract_query(method[2],'addSalaryEmp')
    excute_query(sql,param)
    sql = sql_util.extract_query(method[2],'addIncentiveEmp')
    excute_query(sql,param)
    sql = sql_util.extract_query(method[2],'addManager')
    excute_query(sql,param)

def add_other(EmpID,position):
    param = [EmpID] 
    sql = sql_util.extract_query(method[2],'addSalaryEmp')
    excute_query(sql,param)
    if position == 'ADMIN' :
        sql = sql_util.extract_query(method[2],'addAdmin')
    elif position == 'WAREHOUSE' :
        sql = sql_util.extract_query(method[2],'addWarehouseWorker')
    excute_query(sql,param)


def new_employyee():
    sql = sql_util.extract_query(method[2],'addEmployee')
    for i,row in EMPLOYEE.iterrows():
        EmpID = row['EmpID']
        param = list(row.iloc[0:-1].copy())
        param[4] = param[4].date()
        param[5] = param[5].date()
        param.insert(2,convertToBinaryData(PATH_PIC+str(param[0])+'.jpg'))
        sql = sql_util.extract_query(method[2],'addEmployee')
        excute_query(sql,param)
        time.sleep(2) 
        if row.iloc[-1].upper() == 'TRAINEE' :
            add_trainee(EmpID)
        elif row.iloc[-1].upper() == 'SECURITY' :
            add_security(EmpID)
        elif row.iloc[-1].upper() == 'SALEMAN' :
            add_saleman(EmpID)
        elif row.iloc[-1].upper() == 'MANAGER' :
            add_manager(EmpID)
        elif row.iloc[-1].upper() in ['WAREHOUSE','ADMIN'] :
            add_other(EmpID,row.iloc[-1].upper())
        

def excute_query(sql,param) :
    cursor = conn.cursor()
    cursor.execute(sql,param)
    cursor.close()

In [186]:
try :
    conn = mysql.connector.connect(
      **decode_payload(token)
    )
    new_employyee()
    conn.commit()
except Exception:
    traceback.print_exc()
    conn.rollback()
    conn.close()

INSERT INTO jpk_coffee.TRAINEE (EmpID,ForPosition,ProbationDuration)
    VALUES(%s,%s,%s)
[2001, 'Admin', 90]
INSERT INTO jpk_coffee.TRAINEE (EmpID,ForPosition,ProbationDuration)
    VALUES(%s,%s,%s)
[2002, 'Saleman', 30]

# Test

In [4]:

print(sql)

INSERT INTO jpk_coffee.EMPLOYEE (EmpID,EmpName,ImageEmp,IdCard,Gender,BirthDate,StartDate,Salary,LeaveDay)
    VALUES(%s,%s,%s,%s,%s,%s,%s,%s,%s)

In [43]:
param = [1011,'Rose Blackpink',convertToBinaryData('image/employee/1002.jpg'),'1400577647403','F',convert_date('03/10/1980'),convert_date('01/01/2014'),25000,12]

In [20]:
mycursor = conn.cursor()
mycursor.execute(sql,param)

In [24]:
binary_data = convertToBinaryData('image/employee/1002.jpg')
print(len(binary_data))

231188

In [44]:
convert_date('03/10/1980')

datetime.date(1980, 10, 3)

In [61]:
'j'.upper()

'J'