In [3]:
from jwt_app import decode_payload,encode_payload
import sql_util
import mysql.connector

In [2]:
method = ['select','update','insert','delete']
token = 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJob3N0IjoibG9jYWxob3N0IiwidXNlciI6InJvb3QiLCJwYXNzd29yZCI6IlBrMTcwOTQzLiJ9.CVrpkjYTwEcavEc2gDKkNByi6KsXFINr7WZUXUeTKYQ'
conn = mysql.connector.connect(
  **decode_payload(token)
)

In [14]:
param = [1]
sql = sql_util.extract_query(method[0],'addManager')
sql_util.prepare_query(sql,param)

AttributeError: 'NoneType' object has no attribute 'count'

'SELECT * FROM table_2 \n\tWHERE var1 = 1\n\tAND var2 = 2'